.vc-calendar-tools {
  margin: auto;
  width: 100%;
  background: #fff;
  user-select: none;
  position: relative;
  .vc-calendar-tools-container {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #5e7a88;
    -webkit-box-shadow: 0 4px 8px rgba(25, 47, 89, .1);
    box-shadow: 0 4px 8px rgba(25, 47, 89, .1);
    border-top: 1px solid hsla(0, 0%, 78.4%, .1);
    z-index: 5;
    position: relative;
  }
  .vc-calendar-week-head{
    .vc-calendar-week-head-container{
      width: 100%;
      display: flex;
      align-items: center;
      height: 30px;
      padding-top: 10px;
      .vc-calendar-week-item{
        flex: 1;
        text-align: center;
        color: #6B7897;
      }
    }
  }
  .vc-calendar-prev, .vc-calendar-next {
    cursor: pointer;
    img {
      width: 34px;
      height: 34px;
    }
  }
  .vc-calendar-prev {
    width: 14.28571429%;
    float: left;
    text-align: center;
  }
  .vc-calendar-next {
    width: 14.28571429%;
    float: right;
    text-align: center;
  }
  .vc-calendar-info {
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .vc-calendar-month {
      color: #5e7a88;
    }
    .vc-calendar-year {
      color: #5e7a88;
    }
  }
  .vc-calendar-picker{
    color: #5e7a88;
    opacity: 0;
    position: absolute;
    top: 0px;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
    box-sizing: border-box;
    >div{
      height: 50%;
    }
    &.vc-picker-show{
      animation-name: pickerShow;
      animation-duration: .3s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-fill-mode: both;
      display: block;
      @keyframes pickerShow {
        from {
          top: -30%;
          opacity: 0;
        }
        to {
          top: 0;
          opacity: 1;
        }
      }
    }
    .vc-calendar-months{
      display: flex;
      flex-wrap: wrap;
      padding: 10px 5px;
      position: relative;
      box-sizing: border-box;
      .piecker-month-active{
        i{
          background: #60CDFF;
          color: #fff;
          border-radius: 5px;
          box-shadow: 2px 2px 2px rgba(0, 81, 118, .1);
        }
      }
      &:after {
        content: '';
        display: block;
        width: 94%;
        height: 1px;
        background-color: #eee;
        position: absolute;
        bottom: 0;
        left: 3%;
      }
      span{
        flex-basis: 25%;
        text-align: center;
        font-size: 16px;
        position: relative;
        i{
          position: absolute;
          font-style: normal;
          text-align: center;
          word-break: keep-all;
          left: 50%;
          top: 50%;
          transform: translate3d(-50%, -50%, 0);
          padding: 5% 22%;
          cursor: pointer;
        }
      }
    }
    .vc-calendar-years{
      display: flex;
      flex-wrap: wrap;
      padding: 10px 5px;
      box-sizing: border-box;
      .piecker-year-active{
        i{
          background: #60CDFF;
          color: #fff;
          border-radius: 5px;
          box-shadow: 2px 2px 2px rgba(0, 81, 118, .1);
        }
      }
      span{
        flex-basis: 20%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
        position: relative;
        i{
          position: absolute;
          font-style: normal;
          text-align: center;
          word-break: keep-all;
          left: 50%;
          top: 50%;
          transform: translate3d(-50%, -50%, 0);
          padding: 5% 22%;
          cursor: pointer;
        }
      }
    }
  }
}
